.row{
    width: auto;
    
}

.col-lg-2{
    background-color: bisque;
    text-align: center;
}

#value0{
 border-left:2px black solid;
 border-top:2px black solid ;
 border-right:2px black solid;
 border-bottom:2px black solid
}

#value1{
    border-top:2px black solid ;
    border-right:2px black solid;
    border-bottom:2px black solid
}

#value2{
    border-top:2px black solid;
    border-right:2px black solid;
    border-bottom:2px black solid 
}

#value3{
    border-left:2px black solid;
    border-bottom:2px black solid;
    border-right:2px black solid;
}

#value4{
    border-bottom:2px black solid;
    border-right:2px black solid;
}

#value5{
    border-right:2px black solid;
    border-bottom:2px black solid;
}

#value6{
    border-left:2px black solid;
    border-bottom:2px black solid;
    border-right:2px black solid;
}

#value7{
    border-bottom:2px black solid;
    border-right:2px black solid
    
}

#value8{
    border-bottom:2px black solid;
    border-right:2px black solid
}


.strikethrough {
    text-align: center;
    background-color: coral
  }
  

